<div class="whole">
  <div class="form-group row" id="pbi-details">
    <h4>PBI : {{ item.title }}</h4>
    <p>User story : {{ item.userStory }}</p>
    <p>Liste des tâches :</p>
    <ul>
      <div *ngFor="let task of tasks">
        <li *ngIf="task.itemId === item.id"> {{ task.title }}</li>
      </div>
    </ul>
  </div>
  <fieldset>
    <legend>Ajouter une tâche</legend>
    <form [formGroup]="model">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Titre</label>
        <div class="col-sm-8">
          <input type="text" formControlName="title" class="form-control" id="inputEmail3"
                 placeholder="Titre de la tâche">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail4" class="col-sm-2 col-form-label">Responsable : </label>
        <div class="col-sm-8">
          <input type="text" formControlName="personInCharge" class="form-control" id="inputEmail4"
                 placeholder="Responsable de la tâche">
        </div>
  </div>

      <div class="form-group row">
        <div class="col-sm-2 gras">Critères d'acceptation :</div>
        <div class="col-sm-8">
          <div class="form-check">
            <p *ngFor="let critere of newAcceptanceCriterias" class="form-check-label unbold" for="gridCheck1">
              {{ critere.key }}
            </p>
            <input type="text" #newCriteriaTitle name="newCriteriaTitle" class="form-control"
                   placeholder="Saisir le critère à ajouter">
            <button type="button" class="btn btn-primary" (click)="addNewCriteria(newCriteriaTitle)">+</button>
          </div>
        </div>
  </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" routerLink="/home">Retour</button>
          <button type="submit" class="btn btn-primary" (click)="createNewTask()">Ajouter la tâche</button>
        </div>
  </div>
</form>
  </fieldset>
</div>
