<div class="card" style="width: 400px;">
  <div class="card-body">
    <h5 class="card-text">Id tâche : {{ id }}</h5>
    <h5 class="card-title">Titre : {{ titre }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">PBI correspondant : {{ item }}</h6>
    <p class="card-text">Responsable de la tâche : {{ personInCharge }}</p>
    <p class="card-text">Etat de la tâche : {{ etat }}</p>
    <p class="card-text">Definition Of Done : <br /> {{ definitionOfDone }}</p>
    <a href="#" class="card-link">Remettre en WIP</a>
    <a href="#" class="card-link">Passer à l'étape suivante</a>
  </div>
</div>


