.card {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 8px;
}

a {
  margin: 20px;
}

a.adisabled {
  cursor: not-allowed;
  opacity: .65;
}

a.adisabled:hover {
  text-decoration: none;
}

a.adisabled:focus {
  text-decoration: none;
}

a.adisabled:active {
  text-decoration: none;
}
