<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">PBI</th>
    <th scope="col">Todo</th>
    <th scope="col">WIP</th>
    <th scope="col">QA</th>
    <th scope="col">Done</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">itemId - itemTitle</th>
    <td>
      <p *ngFor="let task of tasks" class="btn-primary">
        <span *ngIf="shouldDisplayTask(task,1,'Todo')">
          <a routerLink="/tasks/{{ task.id }}">
            {{ task.title }} - {{ task.personInCharge }}
          </a>
        </span>
      </p>
    </td>
    <td>
      <p *ngFor="let task of tasks" class="btn-info">
        <span *ngIf="shouldDisplayTask(task,1,'WIP')">
          <a routerLink="/tasks/{{ task.id }}">
            {{ task.title }} - {{ task.personInCharge }}
          </a>
        </span>
      </p>
    </td>
    <td>
      <p *ngFor="let task of tasks" class="btn-warning">
        <span *ngIf="shouldDisplayTask(task,1,'QA')">
          <a routerLink="/tasks/{{ task.id }}">
            {{ task.title }} - {{ task.personInCharge }}
          </a>
        </span>
      </p>
    </td>
    <td>
      <p *ngFor="let task of tasks" class="btn-success">
        <span *ngIf="shouldDisplayTask(task,1,'Done')">
          <a routerLink="/tasks/{{ task.id }}">
            {{ task.title }} - {{ task.personInCharge }}
          </a>
        </span>
      </p>
    </td>
  </tr>
  </tbody>
</table>
