<div class="row">
    <div class="col">
     <app-item></app-item>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a>ITEM 1</a>
          <span class="badge badge-primary badge-pill">14 tâches</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a>ITEM 2</a>
          <span class="badge badge-primary badge-pill">2 tâches</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a>ITEM 3</a>
          <span class="badge badge-primary badge-pill">1 tâches</span>
        </li>
      </ul>
    </div>
</div>
