<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">PBI</th>
    <th scope="col">Todo</th>
    <th scope="col">WIP</th>
    <th scope="col">QA</th>
    <th scope="col">Done</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <th scope="row" class="btn btn-info">
      <a routerLink="/items/{{ item.id }}">
        {{ item.id }} - {{ item.title }}
      </a>
    </th>
    <td>
      <p *ngFor="let task of tasks" class="btn-primary">
        <span *ngIf="shouldDisplayTask(task,item.id,'Todo')">
          <a routerLink="/tasks/{{ task.id }}">
            {{ task.title }} - {{ task.personInCharge }}
          </a>
        </span>
      </p>
    </td>
    <td>
      <p *ngFor="let task of tasks" class="btn-info">
        <span *ngIf="shouldDisplayTask(task,item.id,'WIP')">
          <a routerLink="/tasks/{{ task.id }}">
            {{ task.title }} - {{ task.personInCharge }}
          </a>
        </span>
      </p>
    </td>
    <td>
      <p *ngFor="let task of tasks" class="btn-warning">
        <span *ngIf="shouldDisplayTask(task,item.id,'QA')">
          <a routerLink="/tasks/{{ task.id }}">
            {{ task.title }} - {{ task.personInCharge }}
          </a>
        </span>
      </p>
    </td>
    <td>
      <p *ngFor="let task of tasks" class="btn-success">
        <span *ngIf="shouldDisplayTask(task,item.id,'Done')">
          <a routerLink="/tasks/{{ task.id }}">
            {{ task.title }} - {{ task.personInCharge }}
          </a>
        </span>
      </p>
    </td>
  </tr>
  </tbody>
</table>
